
    <div class="text-center">
      <a href="/users/register" style="background-color: #06d6a0;width: 10rem;" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block"  style="background-color: #999;width: 10rem;">Login</a>
    </div>
