<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <!-- Header -->
    <header id="header thead-light">
      <div class="box-nav d-flex" style="justify-content: center;">
        <a href="/dashboard" class="p-2  m-3">
          <span class="text-gradient">Home </span>
        </a>
        <a href="/add-product" class="p-2 m-3">
          <span class="text-gradient">New Product </span>
        </a>
        <a href="/cart" class="p-2  m-3">
          <span class="text-gradient">cart </span>
        </a>
        <a href="/users/logout" class="btn btb=n-danger p-2  m-3">
          <span class="text-gradient">
            Logout
          </span>
        </a>

</div>
    </header>
  <!-- /Header -->